---
layout: layouts/default.njk
---

<div class="hero">
  <div class="hero-body">
    <div class="container">
      <header>
        <h1 class="title">Meeting Notes</h1>
        <p class="subtitle">We currently have a monthly members-only meeting. We will publish meeting summaries here.</p>
      </header>
      <section id="member-meeting-022120" class="section">
        <h2>Member meeting - February 21, 2020</h2>
        <ul>
          <li>
            Discussed making sure organizational learnings are spread and recorded.
            <ul>
              <li>We decided to try to record significant decisions and their reasonings in our private work chatroom.</li>
              <li>We decided to try to create and check project progress notes in our chatrooms.</li>
              <li>We decided to have a retrospective for our work on Notabli.</li>
            </ul>
          </li>
          <li>
            Discussed how to compensate potential members for their contributions.
            <ul>
              <li>Agreed that at least currently, we are not in a position to compensate well with cash.</li>
              <li>If the potential members do end up joining the collective, we could count their work in lieu of some or all of the required capital contribution to join.</li>
              <li>We will discuss how to compensate on an individual level for now.</li>
            </ul>
          </li>
          <li>
            Discussed status of members in the pipeline and how to onboard members generally.
            <ul>
              <li>Decided to try to better spread member sponsorship out among existing members.</li>
              <li>Decided to create a diagram of the member onboarding process.</li>
            </ul>
          </li>
        </ul>
        <p>For members and pending members, <a href="https://docs.google.com/document/d/1xEWfbQrJC-1gEQSM4_ATcK2JYn5HgNWPvaW7GArLyrQ/edit?folder=1inkhC_apSgg5Scdp_7i8lgtesFnTQ2ek#bookmark=id.ukxbkn7eu9rt">full meeting minutes are available</a>.</p>
      </section>
    </div>
  </div>
</div>
