version: 2.1
commands:
  build:
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@6'
      - run:
          name: install-npm-packages
          command: npm install
      - run:
          name: install-pandoc
          command: |
            wget -P /tmp https://github.com/jgm/pandoc/releases/download/2.9.2/pandoc-2.9.2-1-amd64.deb
            sudo dpkg -i /tmp/pandoc-2.9.2-1-amd64.deb
            sudo apt-get update
            sudo apt-get install texlive-latex-base
            sudo apt-get install texlive-fonts-recommended
            sudo apt-get install texlive-fonts-extra
      - run:
          name: build-static-site
          command: npm run build && npm run after-build
  deploy-prod:
    steps:
      - build
      - run:
          name: deploy-gh-pages
          command: |
            find . -maxdepth 1 ! -name dist ! -name . ! -name .git | xargs rm -rf
            mv dist/*  .
            git config user.email "ci-build@zinc.coop"
            git config user.name "ci-build"
            git checkout -B gh-pages
            git add -A
            git commit --allow-empty -m "Deploy to GitHub pages [ci skip]"
            git push --force --quiet https://${GITHUB_ACCESS_TOKEN}@github.com/zinc-collective/www.zinc.coop.git gh-pages > /dev/null 2>&1

executors:
  docker-executor:
    docker:
      - image: circleci/node:10.16.3

jobs:
  build:
    executor: docker-executor
    steps:
      - build

  build-deploy:
    executor: docker-executor
    steps:
      - build
      - deploy-prod

workflows:
  build-deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: development
      - build-deploy:
          filters:
            branches:
              only: development
