@tailwind base;

body {
  @apply p-0 bg-zinc-dark-purple text-white;
}

h1, h2, h3, h4 {
  @apply font-bold mt-2;
}
h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl ;
}

a {
  @apply text-zinc-hot-pink;
}

a:hover {
  @apply text-zinc-pastel-pink;
}

/* Visited states in same color as not-visited states. */
a:visited {
  @apply text-zinc-hot-pink;
}

a:visited:hover {
  @apply text-zinc-pastel-pink;
}

ul, p {
  @apply my-2;
}

li {
  @apply list-outside;
}


input[type="submit"] {
  @apply w-full inline-flex items-center px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-zinc-dark-purple bg-zinc-hot-pink transition ease-in-out duration-150;
}

input[type="submit"]:active {
  @apply bg-zinc-pastel-pink;
}

input[type="submit"]:focus {
  @apply outline-none ring-purple-50;
}

input[type="submit"]:hover {
  @apply bg-zinc-pastel-pink;
}

label {
  @apply block font-medium;
}

form .control-group {
  @apply mt-6 grid gap-y-6 gap-x-4 grid-cols-6;
}

form .control-group .control {
  @apply col-span-6;
}

.control-group .control .field {
  @apply mt-1 rounded-md shadow-sm;
}

input[type="email"],input[type="text"],textarea {
  @apply form-input block w-full transition duration-150 ease-in-out text-purple-900;
}

main {
  @apply px-6 py-6 bg-zinc-purple w-full;
}

main p {
  width: clamp(400px, 80%, 700px);
}

footer {
  @apply text-base border-t border-white p-6;
}

@tailwind components;

.header-container {
  @apply flex flex-row justify-center text-center w-full bg-zinc-purple py-6;
}

.header-item {
  @apply px-2 py-2 text-zinc-hot-pink bg-zinc-dark-purple border-t-2 border-l-2 border-b-2 border-zinc-hot-pink;
}

.header-item:last-child {
  @apply border-r-2 border-zinc-hot-pink;
}

.header-item:hover,
.header-item:active {
  @apply bg-zinc-dark-purple text-zinc-hot-pink;
}

.dropdown-container {
  visibility: hidden;
  display: none;
  opacity: 0;
  @apply absolute bg-zinc-dark-purple z-10;
}

.header-item:hover > .dropdown-container,
.header-item:active > .dropdown-container,
.header-item:focus-within > .dropdown-container,
.header-item .dropdown-container:hover,
.header-item .dropdown-container:active {
  visibility: visible;
  display: block;
  opacity: 1;
}

.dropdown-item {
  @apply block p-4 w-full;
}

.person {
  @apply mt-4 mb-12;
}

.person img {
  @apply mr-4 mb-4;
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: top;
}

.person-basics {
  display: inline-block;
}

.person-basics h3 {
  @apply mt-0;
}

.person-basics li::before {
  content: '>';
  @apply mr-1;
}

.person-specialties {
  @apply italic;
}

.person-specialties h4 {
  display: inline-block;
  @apply text-base not-italic;
}

@tailwind utilities;
