<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | default("The Zinc Collective") }}</title>
    <link rel="stylesheet" href="/styles/default.css">
  </head>
  <body class="p-2">
    {% include "partials/header.njk" %}
    <main>
      <h1>{{ title }}</h1>
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>