---
layout: layouts/default.njk
---

<section id="contact-info" class="my-5">

  <h1>Contact Us</h2>

  <p>💌 Email us at <a href="mailto:hello@zinc.coop">hello@zinc.coop</a>. We love mail!</p>
</section>