---
layout: layouts/default.njk
---

<section id="contact-info" class="my-5">

  <h1>Contact Us</h2>
  <p>Fill out the form below, and we'll get you a response within a next few days.</p>


  <form id="new_inbound_message" action="https://www.wegotyourback.today/inbound_messages" accept-charset="UTF-8" method="post">

    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" value="ebb3938e-683c-482a-8755-ee7fa7e3e64c" name="inbound_message[inbox_id]" id="inbound_message_inbox_id">

    <div class="control-group">
      <div data-field="inboundmessage[sender_name]" class="control">
        <label for="inbound_message_sender_name">
          Your Name
        </label>

        <div class="field">
          <input type="text" name="inbound_message[sender_name]" id="inbound_message_sender_name">
        </div>
      </div>


      <div data-field="inboundmessage[sender_email]" class="control">
        <label for="inbound_message_sender_email" class="label">Your Email</label>
        <div class="field">
          <input type="text" name="inbound_message[sender_email]" id="inbound_message_sender_email">
        </div>
      </div>

      <div data-field="inboundmessage[raw_body]"  class="control">
        <label for="inbound_message_raw_body">Message</label>
        <div class="field">
          <textarea name="inbound_message[raw_body]" id="inbound_message_raw_body"></textarea>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="control">
        <input type="submit" name="commit" value="Send Message" data-disable-with="Send Message">
      </div>
    </div>
  </form>

  <p>Or, reach out on Twitter: <a href="https://twitter.com/ZincCooperative">@ZincCooperative</a></p>
</section>