<div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-purple-900">
  <span>
    $20/mo
  </span>
  <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
    USD
  </span>
</div>

<div class="mt-6">
  <div class="begin-purchase-flow rounded-md shadow cursor-pointer">
    <a class="flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-900 hover:bg-purple-800 focus:outline-none focus:ring transition duration-150 ease-in-out">
      Become a Client
    </a>
  </div>
</div>
<p class="mt-4 text-sm leading-5">
  <a href="https://airtable.com/shrD4X18BQaiYAfJO" class="font-medium text-gray-500 underline">
    Request a Demo
  </a>
  or
  <a href="https://www.github.com/zinc-collective/convene" class="font-medium text-gray-500 underline">
    Manage the Servers Yourself
  </a>
</p>
