<div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-purple-900">
  <span>
    $20/mo
  </span>
  <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
    USD
  </span>
</div>

<div class="mt-6">
  {% include './become-a-client.html' %}
</div>
<p class="mt-4 text-sm leading-5">
  <a href="https://airtable.com/shrD4X18BQaiYAfJO" class="font-medium text-gray-500 underline">
    Request a Demo
  </a>
  or
  <a href="https://www.github.com/zinc-collective/convene" class="font-medium text-gray-500 underline">
    Manage the Servers Yourself
  </a>
</p>