
<script src="https://js.stripe.com/v3/"></script>
<script>
  (function() {
    const redirectUrl = function(path) {
      const result =  window.location.protocol + "//" + window.location.host + path
      console.log({ result })
      return result
    }

    var stripe = Stripe('{{ stripeKey }}');
    function beginPurchaseFlow() {
      stripe.redirectToCheckout({
        lineItems: [{
          // Replace with the ID of your price
          price: '{{ priceId }}',
          quantity: 1,
        }],
        mode: 'subscription',
        successUrl: redirectUrl('/convene/subscription-completed'),
        cancelUrl: redirectUrl('/convene/subscription-canceled'),
      }).then(function (result) {
        console.error(result)
      });
    }

    window.addEventListener('DOMContentLoaded', (event) => {
      const beginPurchaseButtons = document.getElementsByClassName('begin-purchase-flow')
      for(const beginPurchaseButton of beginPurchaseButtons) {
        beginPurchaseButton.addEventListener('click', beginPurchaseFlow)
      }
    });
  })()

</script>