---
layout: layouts/product-landing-page.njk
title: We Get It,
subtitle: Maybe Later?
summaryText: Convene is here for you when you want it.
---

<div class="bg-purple-100 mt-8 mx-auto max-w-md rounded-lg shadow-lg">
  <div class="py-8 sm:py-4 lg:py-8">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        {% include './call-to-action.njk' %}
      </div>
    </div>
  </div>
</div>

{% include './stripe-scripts.njk' %}