---
layout: layouts/base.njk
---
<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">The Zinc Collective</h1>
      <p class="subtitle">
        We strive for a post-scarcity society by:
      </p>
        <ul>
          <li>
            Creating and capturing value with human-centered, sustainable digital products and services.
          </li>
          <li>
            Redistributing that wealth in a way that rectifies socioeconomic power imbalances.
          </li>
          <li>
            Taking responsibility for and reducing the social and ecological costs of our digital products and services.
          </li>
        </ul>
      </p>
    </div>
  </div>
</section>
