---
layout: layouts/default.njk
---

<section id="products-and-services" class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        Products and Services
      </h2>

      <h3 id="products-and-services-in-active-development" class="subtitle is-5">
        In Active Development
      </h3>

      <div class="content">
        <h4 class="title is-4">
          <a href="https://www.notabli.com">Notabli</a>
        </h4>
        <p>
          Notabli helps parents safely share their children's childhood moments with their extended family.
          We spend four to eight days a month updating
          <a href="https://www.notabli.com">Notabli</a>.
        </p>
      </div>

      <div class="content">
        <h4 class="title is-4">
          <a href="https://www.catalogchoice.org">Catalog Choice</a>
        </h4>
        <p>
          <a href="https://www.catalochoice.org">Catalog Choice</a>
          helps people reduce their environmental footprint by opting out of catalog mailings.
          We spend two to three days a month updating
          <a href="https://www.catalogchoice.org">Catalog Choice</a>
          for
          <a href="https://storyofstuff.org/">The Story of Stuff project</a>.
        </p>
      </div>

      <h3 id="products-and-services-in-passive-maintenance" class="subtitle is-5">
        In Passive Maintenance
      </h3>
      <div class="content">
        <h4 class="title is-4">
          <a href="https://www.wegotyourback.today">We Got Your Back Today</a>
        </h4>
        <p>
          <a href="https://www.wegotyourback.today">We Got Your Back Today</a>
          is a self-or-professionally hostable support inbox for indie developers, hobbyists, and systems administrators.
        </p>
      </div>

      <div class="content">
        <h4 class="title is-4">
          <a href="https://www.momentpark.com">MomentPark</a>
        </h4>
        <p>
          <a href="https://www.momentpark.com">MomentPark</a>
          is a suite of digital photography and videography apps for iOS.
          It currently needs contributors to help update the applications to better support iOS 13.
        </p>
      </div>
    </div>
</section>