<footer>
  <nav class="flex flex-wrap px-16" role="navigation" aria-label="main navigation">
    <ul class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
      <li><a href="/">Home</a></li>
      <li><a href="/product-and-services">Product and Services</a></li>
      <li><a href="/contributing">Become a Contributor</a></li>
      <li><a href="/contact-us">Contact Us</a></li>
    </ul>

    <ul  class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
      <li><a href="/operating-agreement">Operating Agreement</a></li>
      <li><a href="/code-of-conduct">Code of Conduct</a></li>
      <li><a href="/financial-overview">Financial Overview</a></li>
      <li><a href="/meeting-notes">Meeting Notes</a></li>
      <li><a href="/project-guidelines">Project Guidelines</a></li>
    </ul>
  </nav>

  <div>
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      <div class="mt-8 md:mt-0 md:order-1">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"/>
        </a>
        <p class="text-base leading-6 text-white" xmlns:dct="http://purl.org/dc/terms/" property="dct:title">
          The Zinc Collective&trade;&copy; Website by
          <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.zinc.coop/" property="cc:attributionName" rel="cc:attributionURL">Zinc Collective, LLC</a>
          is licensed under a
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
