<nav class="flex flex-wrap px-16" role="navigation" aria-label="main navigation">
  <ul class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
    <li><a href="/">Home</a></li>
    <li><a href="/product-and-services">Product and Services</a></li>
    <li><a href="/contributing">Become a Contributor</a></li>
    <li><a href="/maintaining">Become a Maintainer</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
  </ul>

  <ul  class="w-full sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">
    <li><a href="/operating-agreement">Operating Agreement</a></li>
    <li><a href="/code-of-conduct">Code of Conduct</a></li>
    <li><a href="/financial-overview">Financial Overview</a></li>
    <li><a href="/meeting-notes">Meeting Notes</a></li>
    <li><a href="/project-guidelines">Project Guidelines</a></li>
  </ul>
</nav>