<header class="header-container" role="navigation" aria-label="main navigation">

  <a class="header-item" href="/">Home</a>
  <a class="header-item" href="/product-and-services">Products and Services</a>

  <button class="header-item" aria-haspopup="true">
    Join us
    <div class="dropdown-container" aria-label="submenu">
      <a class="dropdown-item" href="/contributing">Become a Contributor</a>
      <a class="dropdown-item" href="/maintaining">Become a Maintainer</a>
      <a class="dropdown-item" href="/project-guidelines">Project Guidelines</a>
      <a class="dropdown-item" href="/code-of-conduct">Code of Conduct</a>
      <a class="dropdown-item" href="/operating-agreement">Operating Agreement</a>
    </div>
  </button>

  <button class="header-item" aria-haspopup="true">
    About us
    <div class="dropdown-container flex flex-row justify-center align-middle" aria-label="submenu">
      <a class="dropdown-item" href="/financial-overview">Financial Overview</a>
      <a class="dropdown-item" href="/meeting-notes">Meeting Notes</a>
    </div>
  </button>

  <a class="header-item" href="/contact-us">Contact Us</a>
</header>
