<header>
  <div class="relative">
    <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
      <div class="md:flex-1 md:flex md:items-center md:justify-between md:space-x-12">
        <nav class="flex space-x-10">
          <a href="/" class="text-base">
            Home
          </a>
          <a href="/operating-agreement" class="text-base pl-2">
            Operating Agreement
          </a>
          <a href="/product-and-services" class="text-base pl-2" >
            Product and Services
          </a>
          <a href="/code-of-conduct" class="text-base pl-2" >
            Code of Conduct
          </a>
          <a href="/contributing" class="text-base pl-2" >
            Become a Contributor
          </a>
          <a href="/financial-overview" class="text-base pl-2" >
            Financial Overview
          </a>
          <a href="/contact-us" class="text-base pl-2" >
            Contact Us
          </a>
          <a href="/meeting-notes" class="text-base pl-2" >
            Meeting Notes
          </a>
          <a href="/project-guidelines" class="text-base pl-2" >
            Project Guidelines
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>
